@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body{
  margin:0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
  background:linear-gradient(to right, rgb(101, 123, 236), rgb(26, 244, 150));;
}

button{
  cursor: pointer;
}
